/*** Theme ***/
:root {
    --font-familiy: 'Roboto', sans-serif;
    --primary: #8e44ad;
    --dark:#2c3e50;
    --backgroud-light:#ecf0f1;
    --text-color:#444;
    --text-color-light:#fff;
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --border: 1px solid #eee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-familiy);
}
body{
    background-color: var(--backgroud-light);
    font-size: 10px;
}

/* Container */
.container{
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header{
    background-color: var(--primary);
    padding: 1.5rem;
    box-shadow:var(--box-shadow);
}
.logo{
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-color-light);
}

/* Footer */
footer{
    background-color: var(--dark);
    display: flex;
    flex-direction: row-reverse;
    color: var(--text-color-light);
    padding: 1.5rem;
    font-size: 1.2rem;
}

/* Content */
.content{
    flex:1; /* Permet a content de prendre toute l'espace dispobible === fill */ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

/* Todo */
.todo-container{
    padding: 1.5rem;
    background-color: #fff;
    border: var(--border);
    border-radius: 3px;
    min-width: 60rem;
    min-height: 40rem;
}
.todo-container h1{
    text-align: center;
}